Button:hover {
    -fx-cursor: hand;
}

#windowPane {
    -fx-background-color: #80808080;
}
#windowPane2 {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 40px;
}


#backButton , #forwardButton {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-pref-width: 60;
    -fx-pref-height: 30;
}

#closeButton {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-pref-width: 100;
    -fx-pref-height: 45;
}
