#usageButton {
    -fx-background-color: #353027;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-background-radius: 30px;
}

#priceButton {
    -fx-background-color: #332119;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-background-radius: 30px;
}

#searchButton, #accountButton, #settingsButton, #menuButton1{
-fx-background-color: transparent;
}

#backgroundPane {
    -fx-background-color: #000000;
}

#comparisonButton {
    -fx-background-color: #353027;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-background-radius: 30px;
}

#priceButton1 {
    -fx-background-color: #332119;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-background-radius: 30px;
}

#comparisonPane1 {
    -fx-background-color: #bdab76;
    -fx-background-radius: 0 5 5 0;

}

#comparisonPane2 {
    -fx-background-color: #85774c;
    -fx-background-radius: 0 5 5 0;

}

Button:hover {
    -fx-cursor: hand;
}

.scroll-bar  {
    -fx-opacity: 0;
}