#notificationPageAnchor{
-fx-pref-width: 375 ;
-fx-pref-height:  667;
-fx-border-radius: 15px;
-fx-border-width: 5px;
-fx-border-color: #21130d;
-fx-background-color: #040404;
}

#notification1, #notification2,#notification3 {
    -fx-background-color: #040404;
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
    -fx-border-color: #7c7c7c;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2);
}

#backButton{
-fx-background-color: transparent;
}

#volumePane{
 -fx-background-color: #040404;
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
    -fx-border-width: 3px;
    -fx-border-radius: 13px;
    -fx-border-color: #7c7c7c;}