#notificationPageAnchor{
-fx-background-color: #1e1e1e;
}
.vbox{
-fx-spacing: 5px;
}

#searchButton, #accountButton, #settingsButton, #menuButton1{
-fx-background-color: transparent;
}

#TitleText {
    -fx-font-size: 30px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}


#label1 {
    -fx-font-size: 15px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.mobile-toggle {
    -fx-background-color: #ccc;
    -fx-background-radius: 16px;
    -fx-min-width: 56px;
    -fx-min-height: 24px;
    -fx-max-width: 56px;
    -fx-max-height: 24px;
    -fx-text-fill: transparent;
    -fx-alignment: center-left;
}


.mobile-toggle:selected {
    -fx-background-color: #4caf50;
    -fx-alignment: center-right;
}


Button:hover {
    -fx-cursor: hand;
}