#notificationPageAnchor{
-fx-pref-width: 375 ;
-fx-pref-height:  667;
-fx-border-radius: 15px;
-fx-border-width: 5px;
-fx-border-color: #21130d;
-fx-background-color: #1e1e1e;
}
.vbox{
-fx-spacing: 5px;
}


.mobile-toggle {
    -fx-background-color: #ccc;
    -fx-background-radius: 16px;
    -fx-min-width: 56px;
    -fx-min-height: 24px;
    -fx-max-width: 56px;
    -fx-max-height: 24px;
    -fx-text-fill: transparent;
    -fx-alignment: center-left;
}


.mobile-toggle:selected {
    -fx-background-color: #4caf50;
    -fx-alignment: center-right;
}


Button:hover {
    -fx-cursor: hand;
}