#recommendationsScrollPane {
    /* Hide the horizontal scrollbar */
    .scroll-bar:horizontal {
        -fx-opacity: 0;
        -fx-pref-width: 0px; /* Set a preferred width for the vertical scrollbar */
        -fx-background-color: #1e1e1e;

    }

    /* Hide the vertical scrollbar */
    .scroll-bar:vertical {
        -fx-opacity: 0;
    }
}

.background-color {
    -fx-background-color: #1e1e1e;
}

#recommendationsAnchorPane{

}

#recommendationsFlowPane{

}

#productRecommendationsFlowPane{

}

#tipsRecommendationsFlowPane{

}

#productRecommendationsVBox{

}

#tipsRecommendationsVBox{

}