#recommendationPage{
    -fx-pref-width: 390 ;
    -fx-pref-height:  844;
    -fx-border-radius: 15px;
    -fx-border-width: 5px;
    -fx-border-color: #21130d;
    -fx-background-color: #1e1e1e;
}

.background-color {
    -fx-background-color: #1e1e1e;
}

Button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #000;
    -fx-border-style: solid;
    -fx-border-color: #000;
}

Button:hover {
    -fx-background-color: #8e8f8f;
    -fx-text-fill: #000000;
}

ToggleButton {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #000;
    -fx-border-style: solid;
    -fx-border-color: #000;
}

ToggleButton:selected {
    -fx-background-color: #018107;
    -fx-text-fill: #fff;
}

ToggleButton:hover {
    -fx-background-color: #02a810;
    -fx-text-fill: #fff;
}

Button:hover, ToggleButton:hover {
    -fx-cursor: hand;
}

.menuButtons{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#energyInsightsButton{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

#energyInsightsButton:hover{
    -fx-background-color: #8e8f8f;
    -fx-text-fill: #000000;
}

#recommendationsToggleButton {
    /*Taken from https://stackoverflow.com/questions/42468235/what-does-the-property-fx-background-insets-mean-and-all-means-of-its-params*/
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
