
@font-face {
    -fx-font-family: 'alata'; 
    -fx-src: url("src/main/resources/org/team6/fonts/Alata-Regular.ttf"); 
    -fx-font-weight: normal;
    -fx-font-style: normal;
} 

.title-text{
    -fx-font-family: "alata";
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.main-text{
    -fx-font-family: "alata";
    -fx-font-size: 24;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.allow-button{
    -fx-font-family: "alata";
    -fx-font-size: 24;
    -fx-background-color: #0058a3;
    -fx-text-fill: white;
}

.reject-button{
    -fx-font-family: "alata";
    -fx-font-size: 24;
    -fx-background-color: white;
    -fx-text-fill: black;
}
