.hbox {
    -fx-spacing: 16px;
    -fx-border-color: #BEBEBE;
    -fx-background-color: #2A3338;
    -fx-border-radius: 5px;
    -fx-pref-width: 300;
    -fx-pref-height: 40;
}
/*#BEBEBE*/
.vbox {
    -fx-spacing: 16px;
}

.mobile-toggle {
    -fx-background-color: #ccc;
    -fx-background-radius: 16px;
    -fx-min-width: 56px;
    -fx-min-height: 24px;
    -fx-max-width: 56px;
    -fx-max-height: 24px;
    -fx-text-fill: transparent;
    -fx-alignment: center-left;
}

#settingsPagePane{
-fx-background-color: #1e1e1e;
}

.mobile-toggle:selected {
    -fx-background-color: #4caf50;
    -fx-alignment: center-right;
}

.background-color {
    -fx-background-color: #1e1e1e;
}

.scroll{
        /* Hide the horizontal scrollbar */
        .scroll-bar:horizontal {
            -fx-opacity: 0;
            -fx-pref-width: 0px; /* Set a preferred width for the vertical scrollbar */
    
        }
    
        /* Hide the vertical scrollbar */
        .scroll-bar:vertical {
            -fx-opacity: 0;
        }
}

.title-text {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

Button:hover {
    -fx-cursor: hand;
}

ToggleButton:hover {
    -fx-cursor: hand;
}

Slider:hover {
    -fx-cursor: hand;
}

Spinner:hover {
    -fx-cursor: hand;
}

.normal-text {
    -fx-text-fill: #fff;
}
