
@font-face {
    -fx-font-family: 'alata';
    -fx-src: url("src/main/resources/org/team6/fonts/Alata-Regular.ttf");
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

#mainPage{
-fx-pref-width: 390 ;
-fx-pref-height:  844;
-fx-border-color: #21130d;
-fx-background-color: #1e1e1e;
}

#homePageTitle{
-fx-pref-width: 30;
-fx-pref-height: 100;
}

#barPane{
-fx-background-color: #1e1e1e;
-fx-pref-width: 390;
-fx-pref-height: 60;
}
#searchButton, #accountButton, #settingsButton, #menuButton1{
-fx-background-color: transparent;
}
/*
#accountButton{
-fx-background-color: transparent;
}

#settingsButton{
-fx-background-color: transparent;
}

#menuButton1{
-fx-background-color: transparent;
}
*/

#electricityButton, #productTutorialButton , #tipsButton {
    -fx-background-color: #2A3338;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-pref-width: 357;
    -fx-pref-height: 70;


    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2);
}

#informationPane{
    -fx-background-color: #2A3338;
    -fx-background-radius: 0 0 15px 15px;
}

#readMoreButton{
    -fx-background-color: transparent;
}
/* Apply hand hover effect for all buttons */
Button:hover {
    -fx-cursor: hand;
}
