

#mainPage{
-fx-pref-width: 375 ;
-fx-pref-height:  667;
-fx-border-radius: 15px;
-fx-border-width: 5px;
-fx-border-color: #21130d;
-fx-background-color: #1e1e1e;
}

#homePageTitle{
-fx-pref-width: 30;
-fx-pref-height: 100;
}

#barPane{
-fx-background-color: #1e1e1e;
}
#searchButton{
-fx-background-color: transparent;
}

#energyButton{
-fx-background-color: transparent;
}

#accountButton{
-fx-background-color: transparent;
}

#settingsButton{
-fx-background-color: transparent;
}

#menuButton1{
-fx-background-color: transparent;
}


#electricityButton, #productTutorialButton , #tipsButton {
    -fx-background-color: #2A3338;

    -fx-background-radius: 20px;
    -fx-padding: 10px 20px;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-pref-width: 357;
    -fx-pref-height: 55;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2);
}

#informationPane{
-fx-background-color: #2A3338;
-fx-background-radius: 0 0 15px 15px;
}

#readMoreButton{
-fx-background-color: transparent;
}
/* Apply hand hover effect for all buttons */
Button:hover {
    -fx-cursor: hand;
}
