#BackgroundPane {
    -fx-background-color: black;
}

#scrollPane {
    -fx-background-color: black; /* Color of the stroke of the scrollPane */
    -fx-background: black;       /* Color of the insisde */
}

#TheHubButton,
#FamilyAccountButton,
#FamilyAccountButton,
#EnergySettingsButton,
#WorkshopButton,
#AppTutorialButton,
#HelpButton  {
    -fx-background-color: black;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-border-color: #4d4d4d;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#jur1,
#jur2,
#jur3,
#jur4 {
    -fx-background-color: black;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;

    /* Border color and style only for top and bottom */
    -fx-border-color: #4d4d4d transparent #4d4d4d transparent; /* top, right, bottom, left */
    -fx-border-width: 1px 0px 1px 0px; /* top, right, bottom, left */
    -fx-border-style: solid none solid none; /* Apply border only on top and bottom */
}

#label1, #label2 {
    -fx-font-size: 25px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#searchButton, #accountButton, #settingsButton, #menuButton1{
-fx-background-color: transparent;
}

Button:hover {
    -fx-cursor: hand;
}

.scroll-bar {
    -fx-opacity: 0;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}
