#BackgroundPane {
    -fx-background-color: #000000;
}

#scrollPane {
    TODO: change the color in the following line
    -fx-background-color: #ffffff; /* Color of the stroke of the scrollPane */
    -fx-background: #000000;       /* Color of the insisde */
}

#TheHubButton,
#FamilyAccountButton,
#FamilyAccountButton,
#EnergySettingsButton,
#WorkshopButton,
#AppTutorialButton,
#HelpButton  {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-border-color: #4d4d4d;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#jur1,
#jur2,
#jur3,
#jur4 {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-border-color: #4d4d4d;
    -fx-border-width: 1px;

}

#label1, #label2 {
    -fx-font-size: 25px;
    -fx-font-family: "Alata Regular";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

#searchButton, #accountButton, #settingsButton, #menuButton1{
-fx-background-color: transparent;
}

Button:hover {
    -fx-cursor: hand;
}